@import "../styles/colors.less";
@import "../styles/breakpoints.less";
.main-container {
  min-height: calc(100vh - 70px);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

nav {
  background-color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: @font-color;
    text-decoration: none;
    padding: 0rem 0.5rem;
    &:hover {
      text-decoration: underline;
    }
  }

  @media @desktop {
    justify-content: flex-start;
  }
}

footer {
  background-color: @footer-color;
  height: 50px;
  color: white;
  text-align: center;
  padding-top: 1rem;

  a {
    color: white;
  }
}

.title {
    width: 90%;

    @media @phone {
        width: 73%;
    }

    @media @tablet {
        width: 19rem;
    }
}

.logo {
  display: none;
  @media @phone {
    display: initial;
    width: 17%;
    padding-right: 1rem;
  }
  @media @tablet {
    display: initial;
    width: 4rem;
  }
}

nav a.active-link {
  text-decoration: underline;
}

.top-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 6rem;
  background-color: white;
}

.divider {
  margin: 0 0.5rem;
}
