<div class="main-container">
  <div class="top-container">
    <header>
      <img class="logo" src="assets/img/logo.png">
      <img class="title" src="assets/img/film_auditor_redux_logo.png">
    </header>
    <nav>
      <a  routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/about" routerLinkActive="active-link">About</a>
      <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </nav>
  </div>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
<footer>Created By: <a href="http://josheilers.com/" target="_blank">Josh Eilers</a> <span class="divider">·</span> film data: <a href="http://themoviedb.org/" target="_blank">TMDb</a></footer>
