<div class="blog-page">
    <div *ngIf="postData" class="post">
        <h1>{{postData.name}}</h1>
        <p>{{postData.date}}</p>
        <img [src]="postData.image">
        <div markdown [src]="post"></div>
    </div>
    <div class="sidebar">
        <div class="sidebar-box">
            <h2>Follow Me:</h2>
            <div class="follow-me">
                <a href="https://www.imdb.com/user/ur37514398/?ref_=nb_usr_prof_0" target="_blank"><img class="imdb-logo logo" src="assets/img/imdb-logo.png" alt="IMDb logo"/></a>
                <a href="https://letterboxd.com/TheFilmAuditor/" target="_blank"><img class="letterboxd-logo logo" src="assets/img/letterboxd-logo.png" alt="letterboxd logo"/></a>
                <a href="https://www.youtube.com/channel/UCcB-rukqO7jGd6ssKin5Fiw" target="_blank"><img class="youtube-logo logo" src="assets/img/youtube-logo.png" alt="youtube logo"/></a>
            </div>
        </div>
        <div class="sidebar-box">
            <h2>Recommended Posts:</h2>
            <div *ngFor="let rec of recommended" class="side-card">
                <a href="/post/{{rec.id}}">
                    <img [src]="rec.image" class="rec-img">
                    <div class="rec-info">
                        <h3>{{rec.name}}</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

